<div style="background-color: #141414; margin: auto;">
	<div style="background-color: #ffce1d; text-align: center; color: #141414; padding: 5px;">
		<h2>🦁 USACH.dev</h2>
	</div>
	<div style="color: #e3e3e3; text-align: center; margin: auto; padding: 15px;">
		<h3>
			Confirma tu correo para comenzar en la mejor red de repositorios 😎
		</h3>
		<a
			href="{{ BACKEND_URL }}/api/v1/auth/confirm?token={{ CONFIRM_TOKEN }}"
		>
			Haz click aquí
		</a>
		<small>
			Si no funciona el enlace puedes entrar aquí:
			<strong>{{ BACKEND_URL }}/api/v1/auth/confirm?token={{ CONFIRM_TOKEN }}</strong>
		</small>
	</div>
</div>
